<!DOCTYPE html>
<html>
<head>
    <title>Production Web App</title>
</head>
<body>
    <h1>Welcome to {{ app_env }} Environment</h1>
    <p>Deployed using Ansible</p>
    <p>DB Password (encrypted): {{ db_password }}</p>
</body>
</html>

