-name: Install Nginx
 apt:
   name: nginx
   state: present
   update_cache: yes
 become: yes

-name: Deploy HTML template 
 template:
   src: index.html.j2
   dest: /var/www/html/index.html
 notify: Restart Nginx
 become: yes

